/capitulo02/target/
/capitulo10/target/
/capitulo09/target/
/capitulo12/target/
/capitulo21/selenium/nbproject/
/capitulo21/selenium/target/
/capitulo13/target/
/capitulo16/target/
/capitulo1602/target/
/capitulo17/target/
/capitulo20/target/
/capitulo23/target/
/capitulo19/target/
/capitulo18/target/
/capitulo18/nbproject/
/capitulo18cdiunit/target/
/capitulo18cdiunit/nbproject/
/capitulo18arquillian/target/
/capitulo18arquillianrest/target/
/capitulo18cucumber/target/
/capitulo18testcontainers/target/
/capitulo18testcontainer/nbproject/
/capitulo18testcontainer/target/
/capitulo18junit/nbproject/
/capitulo18junit/target/
/capitulo18_ejercicios/capitulo18_00arquillian/capitulo18/nbproject
/capitulo18_ejercicios/capitulo18arquillian/target/
/capitulo18_ejercicios/capitulo1802/target/
/capitulo18_ejercicios/guide-arquillian-managed/target/
/capitulo18_ejercicios/capitulo18_openliberty_arquillian/target/
/capitulo23faces/target/
/capitulo15/target/
/capitulo08/target/
/capitulo11/target/
